# Data Engineering Capstone Project

### Project Scope

In this project a data pipeline is developed to create an analytics database that revolves around US immigration data. The tables are stored in AWS Redshift and the pipeline is orchestrated in Apache Airflow

### Data overview
- I94 Immigration Data: This data comes from the US National Tourism and Trade Office. A data dictionary is included in the workspace. [This](https://travel.trade.gov/research/reports/i94/historical/2016.html) is where the data comes from. 
- World Temperature Data: This dataset came from Kaggle. You can read more about it [here](https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data).
- U.S. City Demographic Data: This data comes from OpenSoft. You can read more about it [here](https://public.opendatasoft.com/explore/dataset/us-cities-demographics/export/).
- Airport Code Table: This is a simple table of airport codes and corresponding cities. It comes from [here](https://datahub.io/core/airport-codes#data).

In [1]:
import pandas as pd
import numpy as np
import configparser
import psycopg2

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import DateType
import pyspark.sql.functions as F
from pyspark.sql.functions import udf, rand
from pyspark.sql.functions import isnan, when, count, col, isnull

### Exploration phase
I will explore the dimensions of this dataset with spark. Also I will do a preliminary data quality check. I'll check whether the dataset has duplicate rows and if it has null or NaN values in the id columns. I will do this consistently across all datasets

#### Exploration: Immigration Data I94

In [3]:
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

In [4]:
df_immig = spark.read.parquet('sas_data')

# Count the records
df_immig.count()

3096313

In [5]:
# Print schema
df_immig.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

All columns are nullable

In [6]:
# table head
df_immig.show()

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1|
|5748519.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20582.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1|
|5748520.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     F|  null|     DL|9.495645143E10|00040|      B1|
|5748521.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  28.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1988.0|10292016|     M|  null|     DL|9.495638813E10|00040|      B1|
|5748522.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20579.0|  57.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1959.0|10292016|     M|  null|     NZ|9.498180283E10|00010|      B2|
|5748523.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  66.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1950.0|10292016|     F|  null|     NZ|9.497968993E10|00010|      B2|
|5748524.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  41.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1975.0|10292016|     F|  null|     NZ|9.497974673E10|00010|      B2|
|5748525.0|2016.0|   4.0| 245.0| 464.0|    HOU|20574.0|    1.0|     FL|20581.0|  27.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1989.0|10292016|     M|  null|     NZ|9.497324663E10|00028|      B2|
|5748526.0|2016.0|   4.0| 245.0| 464.0|    LOS|20574.0|    1.0|     CA|20581.0|  26.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1990.0|10292016|     F|  null|     NZ|9.501354793E10|00002|      B2|
|5748527.0|2016.0|   4.0| 245.0| 504.0|    NEW|20574.0|    1.0|     MA|20576.0|  44.0|    2.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1972.0|10292016|     M|  null|     UA|9.493828593E10|01215|      B2|
|5748528.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|   null|20575.0|  39.0|    2.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1977.0|10292016|     M|  null|     CM|9.501810463E10|00472|      B2|
|5748529.0|2016.0|   4.0| 245.0| 504.0|    WAS|20574.0|    1.0|     VA|20596.0|  38.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1978.0|10292016|     M|  null|     CM|9.492489983E10|00488|      B2|
|5748530.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|     CA|20577.0|  56.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1960.0|10292016|     F|  null|     CM|9.492648103E10|00302|      B2|
|5748531.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|     CA|20577.0|  38.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1978.0|10282016|     M|  null|     CM|9.492629303E10|00302|      B2|
|5748532.0|2016.0|   4.0| 245.0| 504.0|    MIA|20574.0|    1.0|     FL|20581.0|  53.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1963.0|10292016|     F|  null|     CM|9.500640513E10|00430|      B2|
|5748534.0|2016.0|   4.0| 245.0| 528.0|    SFR|20574.0|    1.0|     CA|   null|  84.0|    2.0|  1.0|20160430|     HNK| null|      G|   null|   null|   null| 1932.0|10282016|     F|  null|     CX|9.492476223E10|00872|      B2|
|5748876.0|2016.0|   4.0| 245.0| 582.0|    HOU|20574.0|    1.0|     TX|20583.0|  43.0|    1.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1973.0|10292016|     M|  null|     UA|9.499463063E10|05574|      B1|
|5748877.0|2016.0|   4.0| 245.0| 582.0|    HOU|20574.0|    1.0|     TX|20583.0|  30.0|    1.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1986.0|10292016|     F|  null|     UA|9.499447663E10|05574|      B1|
|5748881.0|2016.0|   4.0| 245.0| 582.0|    LOS|20574.0|    1.0|     CA|20575.0|  34.0|    2.0|  1.0|20160430|     SHG| null|      G|      O|   null|      M| 1982.0|10292016|     M|  null|     AM|9.496770903E10|00646|      B2|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 20 rows

In [7]:
# Check for duplicate rows
df_immig_dups = df_immig.groupBy('cicid', 'admnum').count().where('count > 1') \
    .sort('count', ascending=False) \
    .show()
df_immig_dups

+-----+------+-----+
|cicid|admnum|count|
+-----+------+-----+
+-----+------+-----+

There are no duplicate rows in this dataset

In [8]:
df_immig.select('cicid').withColumn('is_nan', isnan('cicid')).where('is_nan = True').count()

0

In [9]:
df_immig.select('cicid').withColumn('is_null', isnull('cicid')).where('is_null = True').count()

0

There are no NaN or null values in the id column

In [10]:
# Check for nan and nulls in all columns
df_immig.select([count(when(isnan(c), c)).alias(c) for c in df_immig.columns]).show()

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear|dtaddto|gender|insnum|airline|admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+
|    0|    0|     0|     0|     0|      0|      0|      0|      0|      0|     0|      0|    0|       0|       0|    0|      0|      0|      0|      0|      0|      0|     0|     0|      0|     0|    0|       0|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+

In [11]:
df_immig.select([count(when(isnull(c), c)).alias(c) for c in df_immig.columns]).show()

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-------+-------+-------+-------+-------+-------+-------+------+-------+-------+------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|  occup|entdepa|entdepd|entdepu|matflag|biryear|dtaddto|gender| insnum|airline|admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-------+-------+-------+-------+-------+-------+-------+------+-------+-------+------+-----+--------+
|    0|    0|     0|     0|     0|      0|      0|    239| 152592| 142457|   802|      0|    0|       1| 1881250|3088187|    238| 138429|3095921| 138429|    802|    477|414269|2982605|  83627|     0|19549|       0|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-------+-------+-------+-------+-------+-------+-------+------+-------+-------+------+-----+--------+

#### Exploration: Demographics data

In [12]:
# read in data
demo = spark.read.option('delimiter', ';').csv('data/us-cities-demographics.csv', header=True)
demo.count()

2891

In [13]:
demo.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: string (nullable = true)
 |-- Male Population: string (nullable = true)
 |-- Female Population: string (nullable = true)
 |-- Total Population: string (nullable = true)
 |-- Number of Veterans: string (nullable = true)
 |-- Foreign-born: string (nullable = true)
 |-- Average Household Size: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: string (nullable = true)

In [14]:
demo.show()

+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|            City|         State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|                Race| Count|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|  Hispanic or Latino| 25924|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|               White| 58723|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|               Asian|  4759|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|Black or African-...| 24437|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|               White| 76402|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|              6634|        7517|                   2.4|        IL|American Indian a...|  1343|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|              4815|        8355|                  3.18|        AZ|Black or African-...| 11592|
|     West Covina|    California|      39.8|          51629|            56860|          108489|              3800|       37038|                  3.56|        CA|               Asian| 32716|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|              5783|        3269|                  2.77|        MO|  Hispanic or Latino|  2583|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|              5204|       16315|                  2.65|        NC|               Asian| 11060|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|  Hispanic or Latino|  5822|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|American Indian a...|   998|
|    Philadelphia|  Pennsylvania|      34.1|         741270|           826172|         1567442|             61995|      205339|                  2.61|        PA|               Asian|122721|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|  Hispanic or Latino| 65162|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|American Indian a...|  8791|
|      Fort Myers|       Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|               White| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|         149690|           154695|          304385|             17728|       28187|                  2.13|        PA|               White|208863|
|          Laredo|         Texas|      28.8|         124305|           131484|          255789|              4921|       68427|                  3.66|        TX|American Indian a...|  1253|
|        Berkeley|    California|      32.5|          60142|            60829|          120971|              3736|       25000|                  2.35|        CA|               Asian| 27089|
|     Santa Clara|    California|      35.2|          63278|            62938|          126216|              4426|       52281|                  2.75|        CA|               White| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
only showing top 20 rows

In [15]:
demo_dups = demo.groupBy('City', 'State', 'Race').count().where('count > 1') \
    .sort('count', ascending=False) \
    .show()
demo_dups

+----+-----+----+-----+
|City|State|Race|count|
+----+-----+----+-----+
+----+-----+----+-----+

There are no duplicate rows in the demographics dataset, where the number of people of the same race in a specific city are counted double

In [16]:
demo.select([count(when(isnan(c), c)).alias(c) for c in demo.columns]).show()

+----+-----+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+----+-----+
|City|State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|Race|Count|
+----+-----+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+----+-----+
|   0|    0|         0|              0|                0|               0|                 0|           0|                     0|         0|   0|    0|
+----+-----+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+----+-----+

No NaN values

In [17]:
demo.select([count(when(isnull(c), c)).alias(c) for c in demo.columns]).show()

+----+-----+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+----+-----+
|City|State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|Race|Count|
+----+-----+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+----+-----+
|   0|    0|         0|              3|                3|               0|                13|          13|                    16|         0|   0|    0|
+----+-----+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+----+-----+

Numerous null values

In [18]:
# Find null male population values
demo.select('City', 'State', 'Male Population', 'Race', 'Count').where(isnull('Male Population')).show()

+------------+-------+---------------+--------------------+-----+
|        City|  State|Male Population|                Race|Count|
+------------+-------+---------------+--------------------+-----+
|The Villages|Florida|           null|  Hispanic or Latino| 1066|
|The Villages|Florida|           null|Black or African-...|  331|
|The Villages|Florida|           null|               White|72211|
+------------+-------+---------------+--------------------+-----+

In [19]:
# Find null female population values
demo.select('City', 'State', 'Female Population', 'Race', 'Count').where(isnull('Female Population')).show()

+------------+-------+-----------------+--------------------+-----+
|        City|  State|Female Population|                Race|Count|
+------------+-------+-----------------+--------------------+-----+
|The Villages|Florida|             null|  Hispanic or Latino| 1066|
|The Villages|Florida|             null|Black or African-...|  331|
|The Villages|Florida|             null|               White|72211|
+------------+-------+-----------------+--------------------+-----+

The villages doesn't have entries for Male and Female Population

In [20]:
# Find null values for Veterans
demo.select('City', 'State', 'Number of Veterans', 'Race', 'Count').where(isnull('Number of Veterans')).orderBy('City').show()

+--------+-----------+------------------+--------------------+------+
|    City|      State|Number of Veterans|                Race| Count|
+--------+-----------+------------------+--------------------+------+
| Bayamón|Puerto Rico|              null|  Hispanic or Latino|169155|
|  Caguas|Puerto Rico|              null|  Hispanic or Latino| 76349|
|  Caguas|Puerto Rico|              null|American Indian a...|   624|
|Carolina|Puerto Rico|              null|American Indian a...| 12143|
|Carolina|Puerto Rico|              null|  Hispanic or Latino|139967|
|Guaynabo|Puerto Rico|              null|  Hispanic or Latino| 69936|
|Guaynabo|Puerto Rico|              null|American Indian a...|   589|
|Mayagüez|Puerto Rico|              null|               Asian|   235|
|Mayagüez|Puerto Rico|              null|  Hispanic or Latino| 65521|
|   Ponce|Puerto Rico|              null|  Hispanic or Latino|120705|
|San Juan|Puerto Rico|              null|  Hispanic or Latino|335559|
|San Juan|Puerto Rico|              null|American Indian a...|  4031|
|San Juan|Puerto Rico|              null|               Asian|  2452|
+--------+-----------+------------------+--------------------+------+

Puerto Rican cities do not have veteran counts

In [21]:
# Find null values for Foreign born residents
demo.select('City', 'State', 'Foreign-born', 'Race', 'Count').where(isnull('Foreign-born')).orderBy('City').show()

+--------+-----------+------------+--------------------+------+
|    City|      State|Foreign-born|                Race| Count|
+--------+-----------+------------+--------------------+------+
| Bayamón|Puerto Rico|        null|  Hispanic or Latino|169155|
|  Caguas|Puerto Rico|        null|  Hispanic or Latino| 76349|
|  Caguas|Puerto Rico|        null|American Indian a...|   624|
|Carolina|Puerto Rico|        null|American Indian a...| 12143|
|Carolina|Puerto Rico|        null|  Hispanic or Latino|139967|
|Guaynabo|Puerto Rico|        null|  Hispanic or Latino| 69936|
|Guaynabo|Puerto Rico|        null|American Indian a...|   589|
|Mayagüez|Puerto Rico|        null|               Asian|   235|
|Mayagüez|Puerto Rico|        null|  Hispanic or Latino| 65521|
|   Ponce|Puerto Rico|        null|  Hispanic or Latino|120705|
|San Juan|Puerto Rico|        null|  Hispanic or Latino|335559|
|San Juan|Puerto Rico|        null|American Indian a...|  4031|
|San Juan|Puerto Rico|        null|               Asian|  2452|
+--------+-----------+------------+--------------------+------+

Puerto Rican cities do not have foreign-born counts

In [22]:
demo.select('City', 'State', 'Average Household Size', 'Race', 'Count').where(isnull('Average Household Size')).orderBy('City').show()

+------------+-----------+----------------------+--------------------+------+
|        City|      State|Average Household Size|                Race| Count|
+------------+-----------+----------------------+--------------------+------+
|     Bayamón|Puerto Rico|                  null|  Hispanic or Latino|169155|
|      Caguas|Puerto Rico|                  null|  Hispanic or Latino| 76349|
|      Caguas|Puerto Rico|                  null|American Indian a...|   624|
|    Carolina|Puerto Rico|                  null|  Hispanic or Latino|139967|
|    Carolina|Puerto Rico|                  null|American Indian a...| 12143|
|    Guaynabo|Puerto Rico|                  null|  Hispanic or Latino| 69936|
|    Guaynabo|Puerto Rico|                  null|American Indian a...|   589|
|    Mayagüez|Puerto Rico|                  null|               Asian|   235|
|    Mayagüez|Puerto Rico|                  null|  Hispanic or Latino| 65521|
|       Ponce|Puerto Rico|                  null|  Hispanic or Latino|120705|
|    San Juan|Puerto Rico|                  null|               Asian|  2452|
|    San Juan|Puerto Rico|                  null|  Hispanic or Latino|335559|
|    San Juan|Puerto Rico|                  null|American Indian a...|  4031|
|The Villages|    Florida|                  null|  Hispanic or Latino|  1066|
|The Villages|    Florida|                  null|               White| 72211|
|The Villages|    Florida|                  null|Black or African-...|   331|
+------------+-----------+----------------------+--------------------+------+

Puerto Rican cities and the Villages in Florida have not reported their average household size. This coincides with the findings for null values in other categories. The Villages and all the cities in Puerto Rico contain null values.

#### Exploration: Airport codes data

In [23]:
airport = spark.read.option('delimiter', ',').csv('data/airport-codes_csv.csv', header=True)
airport.count()

55075

In [24]:
airport.printSchema()

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

In [25]:
airport.show()

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|     US-PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|     US-KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
| 00AK|small_airport|        Lowell Field|         450|       NA|         US|     US-AK|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|
| 00AL|small_airport|        Epps Airpark|         820|       NA|         US|     US-AL|     Harvest|    00AL|     null|      00AL|-86.7703018188476...|
| 00AR|       closed|Newport Hospital ...|         237|       NA|         US|     US-AR|     Newport|    null|     null|      null| -91.254898, 35.6087|
| 00AS|small_airport|      Fulton Airport|        1100|       NA|         US|     US-OK|        Alex|    00AS|     null|      00AS|-97.8180194, 34.9...|
| 00AZ|small_airport|      Cordes Airport|        3810|       NA|         US|     US-AZ|      Cordes|    00AZ|     null|      00AZ|-112.165000915527...|
| 00CA|small_airport|Goldstone /Gts/ A...|        3038|       NA|         US|     US-CA|     Barstow|    00CA|     null|      00CA|-116.888000488, 3...|
| 00CL|small_airport| Williams Ag Airport|          87|       NA|         US|     US-CA|       Biggs|    00CL|     null|      00CL|-121.763427, 39.4...|
| 00CN|     heliport|Kitchen Creek Hel...|        3350|       NA|         US|     US-CA| Pine Valley|    00CN|     null|      00CN|-116.4597417, 32....|
| 00CO|       closed|          Cass Field|        4830|       NA|         US|     US-CO|  Briggsdale|    null|     null|      null|-104.344002, 40.6...|
| 00FA|small_airport| Grass Patch Airport|          53|       NA|         US|     US-FL|    Bushnell|    00FA|     null|      00FA|-82.2190017700195...|
| 00FD|     heliport|  Ringhaver Heliport|          25|       NA|         US|     US-FL|   Riverview|    00FD|     null|      00FD|-82.3453979492187...|
| 00FL|small_airport|   River Oak Airport|          35|       NA|         US|     US-FL|  Okeechobee|    00FL|     null|      00FL|-80.9692001342773...|
| 00GA|small_airport|    Lt World Airport|         700|       NA|         US|     US-GA|    Lithonia|    00GA|     null|      00GA|-84.0682983398437...|
| 00GE|     heliport|    Caffrey Heliport|         957|       NA|         US|     US-GA|       Hiram|    00GE|     null|      00GE|-84.7339019775390...|
| 00HI|     heliport|  Kaupulehu Heliport|          43|       NA|         US|     US-HI| Kailua/Kona|    00HI|     null|      00HI|-155.980233, 19.8...|
| 00ID|small_airport|Delta Shores Airport|        2064|       NA|         US|     US-ID|  Clark Fork|    00ID|     null|      00ID|-116.213996887207...|
| 00IG|small_airport|       Goltl Airport|        3359|       NA|         US|     US-KS|    McDonald|    00IG|     null|      00IG|-101.395994, 39.7...|
| 00II|     heliport|Bailey Generation...|         600|       NA|         US|     US-IN|  Chesterton|    00II|     null|      00II|-87.122802734375,...|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 20 rows

In [26]:
# Check for duplicate rows
airport_dups = airport.groupBy('ident', 'name').count().where('count > 1') \
    .sort('count', ascending=False) \
    .show()
airport_dups

+-----+----+-----+
|ident|name|count|
+-----+----+-----+
+-----+----+-----+

No duplicate rows in airport data

In [27]:
airport.select([count(when(isnan(c), c)).alias(c) for c in airport.columns]).show()

+-----+----+----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+
|ident|type|name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|coordinates|
+-----+----+----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+
|    0|   0|   0|           0|        0|          0|         0|           0|       0|        0|         0|          0|
+-----+----+----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+

In [28]:
airport.select([count(when(isnull(c), c)).alias(c) for c in airport.columns]).show()

+-----+----+----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+
|ident|type|name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|coordinates|
+-----+----+----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+
|    0|   0|   0|        7006|        0|          0|         0|        5676|   14045|    45886|     26389|          0|
+-----+----+----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+

No NaN values in airport data. Numerous null values in elevation_ft, municipality, gps_code, iata_code and local_code

### Immigration data parsing
I94_SAS_Labels_Description.SAS file contains labels of country codes, ports and modes, that need to be parsed as these are valuable additions to the data model and schema design of the immigration data.

In [29]:
def parse_sas(sas_file: str, parsing_value:str, colnames:list):
    with open(sas_file) as f:
        sub_file = f.read()
    # get sub file from SAS file. It will read in starting from the parsing value
    sub_file = sub_file[sub_file.index(parsing_value):]
    # the cutoff between sub files is a semicolon. So you want to grab everything before the semicolon
    sub_file = sub_file[:sub_file.index(';')]
    # the values in the sub file are separated by new lines, these need to be split first and turned into a list of rows with data
    rows = sub_file.split('\n')[1:]
    codes = []
    names = []
    for row in rows:
        if '=' in row:
            c_code, c_name = row.split('=')
            c_code = c_code.strip()
            c_name = c_name.strip()
            

            if c_code[0] == "'":
                c_code = c_code[1:-1]

            if c_name[0] == "'":
                c_name = c_name[1:-1]
                c_name = c_name.lstrip()
                c_name = c_name.rstrip()

            codes.append(c_code)
            names.append(c_name)
    zipped = zip(codes, names)
    spark_df = spark.createDataFrame(list(zipped), colnames)
    return spark_df

In [31]:
# parse country code
country_code = parse_sas('data/I94_SAS_Labels_Descriptions.SAS', 'i94cntyl', ['code', 'country'])
country_code.show()

+----+--------------------+
|code|             country|
+----+--------------------+
| 582|MEXICO Air Sea, a...|
| 236|         AFGHANISTAN|
| 101|             ALBANIA|
| 316|             ALGERIA|
| 102|             ANDORRA|
| 324|              ANGOLA|
| 529|            ANGUILLA|
| 518|     ANTIGUA-BARBUDA|
| 687|           ARGENTINA|
| 151|             ARMENIA|
| 532|               ARUBA|
| 438|           AUSTRALIA|
| 103|             AUSTRIA|
| 152|          AZERBAIJAN|
| 512|             BAHAMAS|
| 298|             BAHRAIN|
| 274|          BANGLADESH|
| 513|            BARBADOS|
| 104|             BELGIUM|
| 581|              BELIZE|
+----+--------------------+
only showing top 20 rows

In [32]:
# parse port of entry
port_of_entry = parse_sas('data/I94_SAS_Labels_Descriptions.SAS', 'i94prtl', ['code', 'port_of_entry'])
port_of_entry.show()

+----+--------------------+
|code|       port_of_entry|
+----+--------------------+
| ALC|           ALCAN, AK|
| ANC|       ANCHORAGE, AK|
| BAR|BAKER AAF - BAKER...|
| DAC|   DALTONS CACHE, AK|
| PIZ|DEW STATION PT LA...|
| DTH|    DUTCH HARBOR, AK|
| EGL|           EAGLE, AK|
| FRB|       FAIRBANKS, AK|
| HOM|           HOMER, AK|
| HYD|           HYDER, AK|
| JUN|          JUNEAU, AK|
| 5KE|       KETCHIKAN, AK|
| KET|       KETCHIKAN, AK|
| MOS|MOSES POINT INTER...|
| NIK|         NIKISKI, AK|
| NOM|             NOM, AK|
| PKC|     POKER CREEK, AK|
| ORI|  PORT LIONS SPB, AK|
| SKA|         SKAGWAY, AK|
| SNP| ST. PAUL ISLAND, AK|
+----+--------------------+
only showing top 20 rows

In [33]:
# parse mode of transport
mode_of_transport = parse_sas('data/I94_SAS_Labels_Descriptions.SAS', 'i94model', ['code', 'mode_of_transport'])
mode_of_transport.show()

+----+-----------------+
|code|mode_of_transport|
+----+-----------------+
|   1|              Air|
|   2|              Sea|
|   3|             Land|
|   9|     Not reported|
+----+-----------------+

In [35]:
# parse address
address = parse_sas('I94_SAS_Labels_Descriptions.SAS', ' i94addrl', ['code', 'address'])
address.show()

+----+-----------------+
|code|          address|
+----+-----------------+
|  AL|          ALABAMA|
|  AK|           ALASKA|
|  AZ|          ARIZONA|
|  AR|         ARKANSAS|
|  CA|       CALIFORNIA|
|  CO|         COLORADO|
|  CT|      CONNECTICUT|
|  DE|         DELAWARE|
|  DC|DIST. OF COLUMBIA|
|  FL|          FLORIDA|
|  GA|          GEORGIA|
|  GU|             GUAM|
|  HI|           HAWAII|
|  ID|            IDAHO|
|  IL|         ILLINOIS|
|  IN|          INDIANA|
|  IA|             IOWA|
|  KS|           KANSAS|
|  KY|         KENTUCKY|
|  LA|        LOUISIANA|
+----+-----------------+
only showing top 20 rows

In [37]:
# parse visa
visa = parse_sas('data/I94_SAS_Labels_Descriptions.SAS', ' i94visa', ['code', 'visa'])
visa.show()

+----+--------+
|code|    visa|
+----+--------+
|   1|Business|
|   2|Pleasure|
|   3| Student|
+----+--------+